# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
.venv/
venv/

# Environment
.env

# VS Code
.vscode/

# Logs
*.log

# macOS
.DS_Store

# Testing
.pytest_cache/

# Coverage
.coverage
htmlcov/

# Build
build/
dist/