apiVersion: networking.k8s.io/v1
kind: Ingress

metadata:
  name: grafana-ingress
  namespace: {{ grafana_namespace }}
  labels:
    app.kubernetes.io/name: grafana
    app.kubernetes.io/component: ingress

spec:
  ingressClassName: nginx

  rules:
    - host: {{ grafana_ingress_host }}
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: {{ grafana_ingress_service }}
                port:
                  number: {{ grafana_ingress_port }}
