apiVersion: networking.k8s.io/v1
kind: Ingress

metadata:
  name: argocd-ingress
  namespace: {{ argocd_namespace }}
  labels:
    app.kubernetes.io/name: argocd
    app.kubernetes.io/component: ingress

spec:
  ingressClassName: nginx

  rules:
    - host: {{ argocd_ingress_host }}
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: {{ argocd_ingress_service }}
                port:
                  number: {{ argocd_ingress_port }}
